
body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #f47c77, #f8c145) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  
}
*{
  color: #203040;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  .contentOverflow{
    overflow: hidden;
  }
}



.content {
  padding: 40px;
  
  .titleAndSearch{
    .headline{
      display: flex;
      align-items: center;
      span{
        color: #f47c77;
        margin-left: 5px;
        font-weight: 700;
        font-size: 33px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 414px;
      }
      
    }
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .searchBlock{
      position: relative;
      .clear{
        cursor: pointer;
        position: absolute;
        right: 0;
        right: 2px;
        width: 20px;
        top: 10px;
        height: 20px;
      }
      display: flex;
      align-items: center;
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      padding: 0 25px;
      input{
        margin-left: 3px;
        border: 0;
        padding: 10px;
        font-size: 14px;
        outline-color: #f47c77;
        width: 200px;
      }
    }
  }
  h1 {
    margin: 0;
  }
}

.cards{
  display: flex;
  flex-wrap: wrap;
  
}




.orangeButton{
  width: 100%;
  height: 45px;
  background: #f47c77;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover{
    background-color: lighten($color: #f47c77, $amount: 5%);
  }

  &:active{
    background-color: darken($color: #f47c77, $amount: 20%);
  }
}